<table class="table table-striped table-bordered table-condensed table-hover">
  <tr>
    <th>Competenties</th>
    <th>Opgenomen EC's</th>
    <th>Meer informatie</th>
  </tr>

  <% @competences.each do |competence| %>
    <tr>
      <td><%= competence.name %></td>
      <td><%= competence.ec %></td>
      <td><%= link_to 'Bekijken', competence_path(competence) %></td>
    </tr>
  <% end %>
</table>