<p>
  <strong>Competentie:</strong>
  <%= @competence.name %>
</p>


<h3>Leerdoel toevoegen:</h3>
<%= form_for([@competence, @competence.goals.build]) do |f| %>
  <p>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Leerdoel</span>
      <%= f.text_field :description, class:'form-control' %>
  </div>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

